*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    text-align: center;
    font-size: 1rem;
    color: deeppink;
}
.panel div{
    width: 300px;
    height: 200px;
    background-color: thistle;
    margin: 5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
}