
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
}
body{
    text-align: center;
    color: deeppink;

}
header{
    min-width: 320px;
}

.title--blog-info h1{
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    height: 100%;
    font-weight: bold;
    font-size: 3rem;
}
main{
position: relative;
text-align: justify;
font-size: 1.5rem;

}
.panel{
 
    background-color: aquamarine;
}
.panel div{
 
    background-color: rgb(20, 201, 138);
    border: solid;
    margin: 5px;
}
.content--layout{
    height: auto;
    border: solid rgb(158, 160, 44);
    background-color:orange;

}

